*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.375;
    font-size: 1rem;
}
/* thường dùng */
.n_text_center{
    text-align: center;
}
.n_flex{
    display: flex;
}
.n_center{
    align-items: center;
    justify-content: center;
}
.n_justify-end{
    justify-content: flex-end;
}
.n_justify-content{
    justify-content: space-between !important;
    justify-content: center;
}
body{
    font-weight: 400;
    background-color: #f8f8f8;
}
header{
    background-color: black;
    color: white;
}
nav{
    width: 80rem;
    margin: 0 auto;
    padding: 0 .5rem;
}
/* phan ben trai */
nav > div.n_left{
    height: 3.125rem;
}
nav > div.n_left div#photo{
    background-image: url(../Image/3.png);
    background-color: black;
    background-size: cover;
    width: 160px;
    height: 100%;
}
nav > div.n_left> ul.n_menu{
    list-style: none;
}
nav > div.n_left> ul.n_menu > li > a{
    display: block;
    text-decoration: none;
    padding:1rem 1.3rem ;
    position: relative;
    color: white;
}
nav > div.n_left> ul.n_menu > li > a::after{
    content: '';
    background-color: red;
    width: 0;
    height: .2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .4s;
}
nav > div.n_left> ul.n_menu > li > a:hover::after{
    width: 100%;
}
nav > div.n_left> ul.n_menu > li > a:last-child:after {
    content: '';
    background-color: none;
    width: 0;
    height: .2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .4s;
}
nav > div.n_left> ul.n_menu > li > a:last-child:hover{
    color: rgb(156, 153, 153);
}
/* phan ben phai */
nav > .n_right{
    width: 40%; 
}
nav > .n_right > .head_search{
    width: 85%;
}
nav > .n_right > .head_search>div{
    padding: .9rem 0;
}
nav > .n_right > .head_search .btns{
    position: relative;
}
nav > .n_right > .head_search .btns  >.btn-glass{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 25%;
}
nav > .n_right > .head_search .btns  >.btn-glass .glass{
    color: rgba(0, 0, 0, 0.397);
    font-size: 23px !important;
    padding: .5rem;
}
nav > .n_right > .head_search .btns{
    border-right: 1px solid white;
}
nav > .n_right > .head_search .btns  input{
    display: block;
    font-weight: 400;
    width: 70%;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    /* background-clip: padding-box; */
    color: #343434 !important;
    border: 1px solid #707070;
    font-size: 1rem;
    line-height: 1.375;
    padding: 0.5rem 1.8rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-left: 25%;
    box-sizing: border-box;
}
nav > div.n_right >a{
    padding: 0 1rem;
    width: 20%;
    text-decoration: none;
    padding: .6rem;
    transition: .4s;
    margin-left: 2%;
    color: white;
}
nav > div.n_right > a > #icon{
    padding:0 .5rem;
    color: white;
}
/* nav > div.n_right >a div#icon,span{
    color:gray ;
} */
nav > div.n_right >a:hover div#icon{
   color:gray ;
}
nav > div.n_right >a:hover span{
    color:gray ;
 }

 /*menu con*/
 nav > div.n_left> ul.n_menu > li{
    position: relative;
 }
 nav > div.n_left> ul.n_menu > li> .n_sub-menu{
    width: 15rem;
    list-style: none;
    position: absolute;
    top: 2.8rem;
    background-color: black;
    /* visibility: hidden;
     opacity: 0; 
    transition: visibility .2s; */
    display: none;
    margin-top: 1.2rem;
    z-index: 1;
 }
 nav > div.n_left> ul.n_menu > li:hover >.n_sub-menu {
    /* visibility: visible;  */
    /* opacity: 1; */
    display: block;
 }
 nav > div.n_left> ul.n_menu > li> .n_sub-menu::after{
    content: '';
    border-color: transparent transparent lightgray transparent;
    border-width: .9rem;
    border-style: solid;
    position: absolute;
    bottom: 100%;
    left: 10%;
 }
 nav > div.n_left> ul.n_menu > li >.n_sub-menu a{
    display: block;
    text-decoration: none;
    padding: .9rem 1.5rem ;
    transition: .4s;
    color: white;
 }
 nav > div.n_left> ul.n_menu > li >.n_sub-menu a:hover{
    background-color: #727171;
 }
footer .n_bg_black{
    width: 100%;
    background-color: black;
    color: white;
}
footer .n_bg_black > div{
    width: 80rem;
    margin: 0 auto;
}
footer .n_bg_black  .pro_footer{
    width: 80%;
    margin: 0 auto;
}
footer .n_bg_black .pro_footer > .footer_text > h3{
    padding: 1rem .4rem;
}
footer .n_bg_black .pro_footer >.footer_text .ds_text{
    list-style: none;
}
footer .n_bg_black .pro_footer >.footer_text >.ds_text a{
    display: block;
    padding: .5rem .5rem;
    color: rgb(180, 179, 179);
    transition: .2s;
}
footer .n_bg_black .pro_footer >.footer_text >.ds_text a:hover{
    color: gray;
}
footer .n_bg_black .n_icon{ 
    width: 80%;
    margin: 1rem auto;
  }
footer .n_bg_black .n_icon .n_icon_left{ 
    width: 50%;
}
footer .n_bg_black .n_icon .n_icon_left .fa{
    padding: .5rem 1rem;
    transition: .4s;
}
footer .n_bg_black .n_icon .n_icon_left .fa:hover{
    color: gray;
}
footer .n_bg_black .n_icon .n_icon_left .fa:first-child{
    padding: .5rem !important;
}
footer .n_bg_black .n_icon .n_icon_right{
    width: 50%;
}
footer .n_bg_black .n_icon .n_icon_right div{
    border: .5px solid white;
    border-radius: .5rem;
    margin: 0 .5rem;
    overflow: hidden;
    transition: .2s;
    box-sizing: border-box;
}
footer .n_bg_black .n_icon .n_icon_right div:hover{
    border: .5px solid transparent;
}

footer .n_bg_black .footer_content{
    font-size: .8rem !important ;
    width: 80%;
    margin: 2rem auto;
}
footer .n_bg_black .footer_content .n_letter{
    padding: 2rem 0 0 0;
}
footer .n_bg_black .footer_content ul.n_info{
    list-style: none;
}
footer .n_bg_black .footer_content ul.n_info >li a{
    transition: .4s;
}
footer .n_bg_black .footer_content ul.n_info >li> a{
    display: block;
    padding: 0 1rem; 
    margin:.6rem 0;
    border-right:1px solid rgb(180, 179, 179);
    color: rgb(180, 179, 179);
}
footer .n_bg_black .footer_content ul.n_info>li:last-child> a{
    border-right:none;
}
footer .n_bg_black .footer_content ul.n_info li:hover a{
    color: gray;
}
footer .n_bg_black .n_connent_ft{
    padding: 1rem 0;
}
/* khánh */


#infoBox{
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99999;
  }
#infoBox #n_exit{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:1rem;
    right: 1.2rem;
    font-size: 1.3rem !important;
    border-radius: 50%;
    text-align: center;
    transition: .4s;
}
#infoBox #n_exit:hover{
    background-color: #d3d0d0;
}

/* shop car */
section#n_shop{
    width: 80rem;
    margin: 2rem auto;
    background-color: #ffffff;
}

section#n_shop >div {
    width: 80%;
    margin: 0 auto;
}
section#n_shop .n_logo_car{
    width: 50%;
    border-right: 1px solid #a5a5a5;
}
section#n_shop .n_logo_car .n_shopCar{
    position: relative;
    border-bottom: .5px solid #a5a5a5;
}
section#n_shop .n_logo_car .n_shopCar #n_shopNew a{
    text-decoration: none;
    color: #222;
    display: block;
    padding: .5rem;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem !important;
}

section#n_shop .n_logo_car .n_shopCar #n_shopOld a{
    text-decoration: none;
    color: #222;
    display: block;
    padding: .5rem;
    font-size: 1.2rem !important;   
}
section#n_shop .n_logo_car .n_shopCar #n_shopNew h3{
    border-bottom: .5rem solid aqua;
}
section#n_shop .n_logo_car .n_shopCar #n_shopOld h3{
    border-bottom: .5rem solid transparent;
}
section#n_shop .n_logo_car .n_logo{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
section#n_shop .n_logo_car .n_logo .n_bank{
    list-style: none;
}
section#n_shop .n_logo_car .n_logo .n_bank li{
    width: 10rem;
}
section#n_shop .n_logo_car .n_logo .n_bank li a{
    width: 75%;
    text-decoration: none;
    display: block;
    padding: .6rem;
    color: #222;
    border-bottom: .4rem solid transparent;
    text-align: center;
}
section#n_shop .n_logo_car #n_result_shopOld{
    display: none;
}
section#n_shop .n_show_car{
    width: 50%;
    height: 30rem;
}
section#n_shop .n_show_car > #n_content_list> .n_list_cars{
    width: 20rem;
    height: 13rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
section#n_shop .n_show_car >#n_content_list>  .n_list_cars div#n_item{
   width: 16rem;
   height: 13rem;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 50% 50%;
   display: inline-block;
   position: absolute;
   transition: 1s;
   z-index: 999;
}
section#n_shop .n_show_car >#n_content_list>  .n_list_cars div#n_item:nth-child(1){
    transform: translate(-210%);
    background-position: 0 50%;
    visibility: hidden;
}
section#n_shop .n_show_car >#n_content_list>  .n_list_cars div#n_item:nth-child(2){
    transform: translate(-105%);
    background-position: 20% 50%;
    visibility: hidden;
}
section#n_shop .n_show_car >#n_content_list>  .n_list_cars div#n_item:nth-child(3){
    transform: translate(6%);
    background-position: 50% 50%;
}
section#n_shop .n_show_car >#n_content_list>  .n_list_cars div#n_item:nth-child(4){
    transform: translate(120%);
    background-position: 80% 50%;
    visibility: hidden;
}
section#n_shop .n_show_car >#n_content_list>  .n_list_cars div#n_item:nth-child(n+5){
    transform: translate(230%);
    background-position: 100% 50%;
    visibility: hidden;
}
section#n_shop .n_show_car >#n_content_list>  .n_content h3{
    width: 70%;
    font-size: 1.5rem !important;
    color: #525151;
    margin: 0 auto;
    padding-bottom: .5rem;
}
section#n_shop .n_show_car >#n_content_list>  .n_content > div{
    color: white;
    background-color: black;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 50%;
    border-radius: 2rem;
    margin: .5rem auto;
    transition: .4s;
}
section#n_shop .n_show_car >#n_content_list>  .n_content > div:hover{
    background-color: #525151;
}
section#n_shop .n_show_car > .n_cars{
    flex-wrap: wrap;
    visibility: hidden;
}
section#n_shop .n_show_car > .n_cars .n_car{
    padding: .3rem;
    text-align: center;
    margin-bottom: 1rem;
}